<h1>Blog Feed</h1>

<!-- <div class='row show-hide-message'>
  <div [ngClass]="MessageClass">
    {{message}}
  </div>
</div> -->

<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newBlogForm()">
  New Post
</button>

<button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-default" *ngIf="!newPost" (click)="reloadBlogs()">
  <span class="glyphicon glyphicon-repeat"></span>
  &nbsp;Reloading
</button>
<br />
<br />

<!-- New Blog Form -->
<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
  <!-- Title Input -->
  <div class="form-group">
    <label for="title">Title</label>
    <div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
      <!-- Title Input -->
      <input type="text" name="title" class="form-control" placeholder="*Blog Title" autocomplete="off" formControlName="title" />
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Max length: 50, Min length: 5</li>
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Must be a letter or number</li>
      </ul>
    </div>
  </div>

  <!-- Body Input -->
  <div class="form-group">
    <label for="body">Body</label>
    <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
      <!-- Body Input -->
      <textarea name="body" rows="8" cols="80" placeholder="*Body" class="form-control" formControlName="body"></textarea>
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
        <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Max length: 500, Min length: 5</li>
      </ul>
    </div>
  </div>

  <!-- Go Back Button -->
  <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
  <!-- Submit Button -->
  <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Submit</button>

</form>
<!-- New Blog Form -->



 <div *ngIf="!newPost">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body">
      A blonde notices that her coworker has a thermos, so she asks him what it's for. He responds, "It keeps hot things hot and cold things cold."
      The blonde immediately buys one for herself. The next day, she goes to work and proudly displays it.
      Her coworker asks, "What do you have in it?"
      She replies, "Soup and ice cream."
    </div>
    <!-- footer -->
    <div class="panel-footer">
        <strong> Posted by: </strong> Pejman
        <br />
        <strong>Date: </strong>June 20,2017
        <br />
      <div>
        <strong>Likes: </strong>25
        <br />
        <strong>Dislikes: </strong>22
        <br />
      </div>
      <a href="#"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
      <a href="#"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>
      <!-- Likes dropdown -->
      <div class="dropdown">
        <button type="button" name="button" class="btn btn-sm btn-success">
            <span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes:21
        </button>
        <div class="dropdown-content">
          <a href="#">Jack</a>
          <a href="#">Nazanin</a>
          <a href="#">Asghar</a>
        </div>
      </div>
      <!-- DisLikes dropdown -->

      <div class="dropdown">
        <button type="button" name="button" class="btn btn-sm btn-warning">
            <span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislikes:21
        </button>
        <div class="dropdown-content">
          <a href="#">Soosan</a>
          <a href="#">Nazak</a>
          <a href="#">Vince</a>
        </div>
      </div>
    </div>
    <!-- footer -->
    <!-- comment box -->
    <ul class="list-group">
      <li class="list-group-item">
        <button type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment()">Post Comment</button>
        <br />
        <!-- <form>

        </form> -->
      </li>
    </ul>
  </div>
</div>
